@model IEnumerable<IdentityRole>

@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService authorizationService

<h1>All Roles</h1>
@if (Model.Any())
{
    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteRole" method="post" asp-route-id="@role.Id">
                    @if ((await authorizationService.AuthorizeAsync(User, "EditRolePolicy")).Succeeded)
                    {
                        <a asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                    }

                    <span id="confirmDeleteSpan_@role.Id" style="display:none">
                        <span>Are You Sure?</span>
                        <button type="submit" class="btn btn-danger ml-4">Yes</button>
                        <a href="#" class="btn btn-primary ml-1" onclick="confirmDelete('@role.Id', false)">No</a>
                    </span>
                    <span id="deleteSpan_@role.Id"><a href="#" class="btn btn-danger" onclick="confirmDelete('@role.Id', true)">Delete</a></span>
                </form>
            </div>
        </div>
    }
    <a asp-controller="Administration" asp-action="CreateRole" class="btn btn-primary">Add New Role</a>
}
else
{
    <div class="card">
        <div class="card-header">
            No Roles Created Yet...
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Please Create A New Role
            </h5>
            <a asp-controller="Administration" asp-action="CreateRole" class="btn btn-primary"> Create Role</a>
        </div>
    </div>
}